#root {
  max-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}
body {
  margin: 0;
}
.scoreBoard {
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gameBoard {
  padding-top: 1.5em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1em;
}